body{
    height:100vh;
    width:100%;
    overflow:hidden;
    margin:0;
    padding:0;
}

.con{
    background-color:black;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    box-sizing:border-box;
  
    color: #fff;
    height:20rem;
    margin-bottom:0.5rem;
    width:20rem;
    margin-right:1rem;
}

.imgIcon{
    width:20rem;
    height:20rem;

  
}



.h5{
    font-size:1.3rem;
    font-weight:600;
    font-weight:600;
    margin-bottom:0.4rem;
}

.auth{
    font-size:0.8rem;
    font-weight:600;
    color:#e8611d;
    margin-top:0;
    padding:0;
    margin-bottom:0;  
}

.desc{
    font-size:0.8rem;
    font-weight:600;
    color:rgb(146, 8, 93);
    padding:0;
    margin-bottom:0.4rem; 
}

.cmn{
    font-size:0.75rem;
    font-weight:600;
    margin-bottom:0.4rem;
}

.main{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height:100vh;
}

.star{
    width:1.3rem;
}

.ex{
    margin-top: 0.3rem;
}

.starcard{
    display:flex;
   flex-direction:row;
   align-items:center;
   margin-bottom:0.4rem;
}

.butt{
    background-color:rgb(58, 148, 184);
    color: #fff;
    border-radius:0.3rem;
    padding:0.4rem;
    border:none;
    width:4rem;
    font-size:0.7rem;
    font-weight:600;
    margin-top:0.5rem;
}